@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body,html{
  background: #f0f2f5;
}
/* home */
.jumbotron{
  text-align: center;
  background: #fff;
}
/* footer */
._footer{
  padding: 10px;
  padding-top: 15px;
  margin-bottom: 0;
}
._footer p{
  font-size: 12px;
  margin-bottom: 5px;
}

/* user show */
.users-show{
  margin-bottom: 10px;
}
.users-show .head-left img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.users-show .head-right h1{
  margin-top: 0;
}
.users-show .head-right small{
  font-size: 1em;
  color: #888;
}
.users-show .head-right b{
  color: #00B5AD;
}

/*  header  */

#logout{
  cursor: default;
  &:hover{
    background: transparent;
  }
}
